.app{
    background-image: url('./picture/day.jpg');
    background-size: cover;
    background-position: bottom;
}

.app.night{
    background-image: url('./picture/maxresdefault.jpg');
    
    opacity: 1;
}

.circular {
    text-align: center;
}
#outlined-search {
    border-radius: 16px;
    font-weight: bold;
    font-size: larger;
    display: inline-block;
    background-color: white;
}

.state {
    
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.body{
    padding: 40px;
}
.time {
    font-weight: bold;
    color: white;
    font-style: italic;
    text-align: center;
}

main {
    min-height: 100vh;
}

.temp{
    
    background-color: aqua;
    box-shadow: black;
    position: relative;
    display: inline-block;
    padding: 15px 25px;
    margin-left: 600px;
    margin-top: 20px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 40px;
    
}

.text {
    
    margin-top: 20px;
    font-weight: bold;
    
    text-align: center;
    word-spacing: 5px;
    color: black;
    font: 1.5em Helvetica;
}

.day{
    
    background-color: aqua;
    box-shadow: black;
    position: relative;
    display: flex;
    padding: 40px;
    margin-left: 600px;
    margin-top: 20px;
    border-radius: 16px;
    font-weight: bold;
    font-size: 10px;
    height: max-content;
    width: max-content;
    
}